QBT_WEBUI_PORT=8080 # Change the WebUI port
QBT_TORRENTING_PORT=6881 # Change the torrenting port
QBT_PROFILE= # Store configuration files in <dir>
QBT_CONFIGURATION= # Store configuration files in directories qBittorrent_<name>
QBT_DAEMON=1 # Run in daemon-mode (background)
QBT_CONFIRM_LEGAL_NOTICE=1 # Confirm the legal notice
QBT_RELATIVE_FASTRESUME= # Hack into libtorrent fastresume files and make file paths relative to the profile directory
QBT_SAVE_PATH= # Torrent save path
QBT_ADD_STOPPED= # Add torrents as running or stopped (true|false)
QBT_SKIP_HASH_CHECK= # Skip hash check
QBT_CATEGORY= # Assign torrents to category. If the category doesn't exist, it will be created.
QBT_SEQUENTIAL= # Download files in sequential order
QBT_FIRST_AND_LAST= # Download first and last pieces first
QBT_SKIP_DIALOG= # Specify whether the "Add New Torrent" dialog opens when adding a torrent (true|false)